@import url('./fonts/poppins.css');
@import url('./fonts/spacemono.css');

html,
body {
  font: 'Poppins', sans-serif;
  font-weight: 400;
}

header {
  position: fixed;
  width: 95%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 2rem 0;
  background: rgba(255, 255, 255, 0.85) none;
  z-index: 10;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

header > div > div {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  background-image: url('../img/stylus.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  list-style: none;
  text-align: center;
  margin: 1rem 0;
}

nav li {
  text-transform: capitalize;
  letter-spacing: 0.0125rem;
}

div#info {
  display: none;
  margin: 3rem 0;
}

div#info.show {
  display: block;
}

main {
  margin: 12rem 0 0 0;
}

div.field-holder {
  position: relative;
}

div.field-holder > h3 {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
}
